---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <p>我20出头，喜欢计算机和一切有趣的工具。</p>
            <p>以下是三个词来概括我的性格：</p>
            <li>
              专注：喜欢做自己喜欢的事情时会非常专注，感觉自己进入了自己的世界。
            </li>
            <li>有趣：喜欢所有有趣的事情，不喜欢无所事事。</li>
            <li>包容：可以接受所有事物的存在，即使它们不合理。</li>
            <p>
              目前我还是一名学生，喜欢接受新鲜事物，能够很快学会各种技能。我不喜欢公开表达自己的意见，也不会强迫别人接受我的观点。我正在努力将几项技能做到精通的程度。
            </p>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://github.com/floatGray" target="_blank">Github</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">一些作品</h2>
        <div class="tag-post-list">
          <ul>
            <li>有点多，我下次整理一下。</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
